body {
  background-color: #333333;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.image, .video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.titulo {
  background-color: white;
  color: white;
}

p {
  background-color: white;
  color: white;
}
