body {
  font-size: 130px;
  font-family: 'Montserrat', sans-serif;
  background-color: #222;
  text-align: center;
}

h1, p {
  background-color: #fff;
}

img, h1, p, video {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

video {
  max-width: 55%;
  height: auto;
}
